<div class="menu-bar deactive" id="menuBar">
    <div class="menu-container">
        <div class="menu-close">
            <div class="close-icon">
                <box-icon onclick="menu('menuBar');" name='x' size="sm"></box-icon>
            </div>
        </div>
        <div class="search-area">
            <form action="/search" method="POST">
                <input type="text" name="q" id="query" class="search-bar" placeholder="Search">
                <button type="submit" class="search-btn">
                    <box-icon name='search' size="xm"></box-icon>
                </button>
            </form>
        </div>
        <br>
        <ul>
            <a href="/orders">
                <li>
                    <box-icon name='package' flip='horizontal'></box-icon>&nbsp;ORDERS
                </li>
            </a>
        </ul>
        <br>
        <ul>
            <a href="/track">
                <li>
                    <box-icon name='current-location'></box-icon>&nbsp;TRACK ORDER
                </li>
            </a>
        </ul>
        <br>
        <ul>
            <a href="/cart">
                <li>
                    <box-icon name='cart-alt'></box-icon>&nbsp;SHOPPING CART&nbsp;
                    {{#if notcount}}
                    <span class="not-dot">{{notcount}}</span>
                    {{/if}}
                </li>
            </a>
        </ul>
        <br>
        <ul>
            <a href="/favourites">
                <li>
                    <box-icon name='heart'></box-icon>&nbsp;FAVOURITES&nbsp;
                </li>
            </a>
        </ul>
        <hr>
        <ul>
            <a href="/about">
                <li>
                    <box-icon name='code-alt'></box-icon>&nbsp;ABOUT
                </li>
            </a>
        </ul>
        <hr>
        <ul>
            <a href="/placed">
                <li>
                    <box-icon name='shopping-bag'></box-icon>&nbsp;PLACED
                </li>
            </a>
        </ul>
        <hr>
        {{#if login}}
        <ul>
            <a href="/account">
                <li>
                    <box-icon name='user'></box-icon>&nbsp;ACCOUNT
                </li>
            </a>
        </ul>
        <hr>
        {{/if}}
        {{#if user.admin}}
        <ul>
            <a href="/add">
                <li>
                    <box-icon name='plus'></box-icon>&nbsp;NEW PRODUCT
                </li>
            </a>
        </ul>
        <hr>
        <ul>
            <a href="/products">
                <li>
                    <box-icon name='folder' ></box-icon>&nbsp;PRODUCTS
                </li>
            </a>
        </ul>
        <hr>
        <ul>
            <a href="/user/orders">
            <li>
                <box-icon name='time-five' ></box-icon>&nbsp;USER ORDERS
            </li>
            </a>
        </ul>
        <hr>
        {{/if}}
        <ul class="login-ul">
            {{#if login}}
            <a href="/logout" class="login-li">
                <li style="color: red;">
                    <box-icon name='log-out' color="red"></box-icon>&nbsp;LOGOUT
                </li>
            </a>
            {{else}}
            <a href="/login" class="login-li">
                <li style="color: orange;">
                    <box-icon name='user-plus' color="orange"></box-icon>&nbsp;LOGIN
                </li>
            </a>
            {{/if}}
        </ul>
    </div>
</div>