<div class="form-container">
    <div class="banner-area">
        <img src="/images/banner.png" alt="Spicy">
    </div>
    <div class="form-area">
        <form action="/signup" method="post">
            <div class="inp-containe">
                <input type="text" name="username" id="Username" placeholder="Username" required>
            </div>
            <div class="inp-containe">
                <input type="email" name="email" id="Emai" placeholder="Email" required>
            </div>
            <div class="inp-containe">
                <input type="password" name="password" id="Password" placeholder="Password" required>
            </div>
            <div class="inp-containe cont">
                <button type="submit">SIGNUP</button>
            </div>
        </form>
        <div class="conditions">
            <span class="already">
                Already have a accound <a href="/login">LogIn</a>
            </span>
        </div>
    </div>
</div>